.hero{
    height: 100vh;
    background:linear-gradient(180deg,#fde1ff,#e1ffea22 60%) ;
    display: flex;
}
.hero-left{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}
.hero-left h2{
    color:#090909;
    font-size: 26px;
    font-weight: 600px;
}
.hero-left p{
    color: #171717;
    font-size: 40px;
    font-weight:900px;
}
.hero-handicon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-handicon img{
   width: 105px;
}
.hero-lastest-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 530px;
    width: 310px;
    height: 70px;
    background: red;
    font-size: 22px;
    cursor: pointer;
    font-weight: 500px;
    border-radius: 75px;
    right: 80px ;
}
.hero-right{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.hero-right img{
    width: 80%;
}
@media(max-width:1280px){
    .hero-left{
        padding-left: 100px;
    }
    .hero-left h2{
        font-size: 22px;
    }
    .hero-left p{
        font-size: 60px;
    }
    .hero-handicon img{
        width: 80px;
    }
    .hero-lastest-btn{
        gap: 10px;
        width: 250px;
        height: 60px;
        margin-top: 520px;
        font-size: 18px;
    }
    .hero-right img{
        width: 80% ;
    }
}
@media(max-width:1024px){
    .hero-left{
        padding-left: 70px;

    }
    .hero-left h2{
        font-size: 18px;
    }
    .hero-left p{
        font-size: 45px;
    }
    .hero-handicon img{
        width: 70px;
    }
    .hero-lastest-btn{
        
        width: 200px;
        height: 40px;
        font-size: 15px;

    }
    .hero-right img{
        width: 75%;
    }
}
@media(max-width:800px){
    .hero-left{
        padding-left: 60px;
    }
    .hero-left p{
        font-size: 40px;
    }
    .hero-left h2{
        font-size: 15px;
    }
    .hero-handicon img{
        width: 60px;
    }
    .hero-lastest-btn{
        
        width: 190px;
        height: 45px;
        font-size: 14px;
    }
    .hero-right{
        width: 400px;
    }

}
@media(max-width:500px){
    .hero-left{
        flex-direction: column;
    }
    .hero-left h2{
        font-size: 20px;
    }
    .hero-left p{
        font-size: 18px;
    }
    .hero-handicon{
        width: 50px;
    }
    .hero-lastest-btn{
        
        width: 200px;
        height: 45px;
        font-size: 13px;
    }
    .hero-right img{
        width: 150px;
    }
   
}