.Offer{
    height: 100vh;
    display:flex;
    background: linear-gradient(180deg,#df9de4,#e1ffea22 60%);
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    width: 70%;
    

}
.Ex-offer-left{
   flex:1;
   display: flex;
   flex-direction: column;
   margin-top: 60px;
}
.Ex-offer-left h1{
 font-weight: 700px;
 color: #171717;   
 font-size: 60px;
}
.Ex-offer-left p{
    font-weight: 800px;
    color:#171717;
    font-size:22px;
}
.Ex-offer-left Button{
    width: 50%;
     margin:30px;
     padding:20px;
     border-radius: 50%;
     background-color:#0c605d22 ;
}
.offer-right{
    display:flex;
    flex-direction: column;

}
.offer-right img{
    
}
