.item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.item img{
    height: 350px;
}
.item p{
    font-size: 18px;
    font-weight: 200px;
}
.item-new-price{
    font-size: 20px;
    color: #374151;
    gap: 20px;
}
.item-old-price{
    color: #8c8c8c;
    text-decoration:line-through;
    font-weight: 600px;
    font-size:20px;
}